
<%=stylesheet_link_tag "css"%>


<table>
<tr>
<td class="h3" valign="top">Overview</td>
                  </tr>
				                    <tr>
                    <td class="text pad" height="500" valign="top"><p class="h2">Mission Statement</p>
<p><span style="font-size: larger"><b><i>To achieve and sustain Leadership in Management Education, Research, Consultancy and Development.</i></b></span></p>
<p>&nbsp;</p>
<p>Foundation for Organizational Research and Education (FORE) is committed to the advancement of Management Education, Research, Training and Consultancy. Incorporated in 1981, as a non-profit institution, FORE has been working with industry and academia for developing new domains of managerial thought and education and contributing to building leaders in today's global business environment.</p>
<p class="marginT10">Located in the heart of South Delhi, FORE provides contextual learning and helps in the development of students as thinking professionals, who have the ability to meet the future challenges of tomorrow's corporate leaders. The programmes develop multiple skills including managerial decision-making, problem-solving, analytical reasoning, communications, creativity and innovation.</p>
<p class="marginT10">FORE takes pride in its professional and high-quality faculty, modern infrastructure, technology and resources- be it in the fields of General Management, Human Resource, Finance, Operations, Marketing, Information Technology, Economics and International Business.<br>
&nbsp;</p>
</table>