<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<div align="justify">DPS Indore - An Epitome of Quality Education<br><br>
>>>>>>> bf53173435c9c50902f9d0f7382551a50ed5e682

>>>>>>> 7c6bc648c9ef633383a2ba08427538770d7851db

<% @aboutus.each do |aboutu| %>
<p>
  
  <b><%= aboutu.title %></b>
</p>

<p>
  <b></b>
  <%= aboutu.content %>
</p>
<% end %>