<<<<<<< HEAD
<h1>Imggallery#index</h1>
<p>Find me in app/views/imggallery/index.html.erb</p>
<% @student.each do |student| %>
<div>


 <%= image_tag student.avatar.url(:medium)  %>
</div>
<% end %>


=======
<h1>Imgage gellery index</h1>

<% @student.each do |student| %>
<div>
 <%= image_tag student.avatar.url(:medium)  %>
</div>
<% end %>
>>>>>>> ea92a8f2f6a5227722b3da8551e020b74bcb4092
